<dl class="govuk-summary-list">
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key" data-lfr-editable-id="key-1" data-lfr-editable-type="text">
			Name
		</dt>
		<dd class="govuk-summary-list__value" data-lfr-editable-id="value-1" data-lfr-editable-type="rich-text">
			Sarah Philips
		</dd>
		<dd class="govuk-summary-list__actions">
			<a class="govuk-link" href="#">
				<span data-lfr-editable-id="action-1" data-lfr-editable-type="text">Change</span><span class="govuk-visually-hidden"> name</span>
			</a>
		</dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key" data-lfr-editable-id="key-2" data-lfr-editable-type="text">
			Date of birth
		</dt>
		<dd class="govuk-summary-list__value" data-lfr-editable-id="value-2" data-lfr-editable-type="rich-text">
			5 January 1978
		</dd>
		<dd class="govuk-summary-list__actions">
			<a class="govuk-link" href="#">
				<span data-lfr-editable-id="action-2" data-lfr-editable-type="text">Change</span><span class="govuk-visually-hidden"> date of birth</span>
			</a>
		</dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key" data-lfr-editable-id="key-3" data-lfr-editable-type="text">
			Contact details
		</dt>
		<dd class="govuk-summary-list__value" data-lfr-editable-id="value-3" data-lfr-editable-type="rich-text">
			<p>07700 900457</p>
			<p>sarah.phillips@example.com</p>
		</dd>
		<dd class="govuk-summary-list__actions">
			<ul class="govuk-summary-list__actions-list">
				<li class="govuk-summary-list__actions-list-item">
					<a class="govuk-link" href="#">
						<span data-lfr-editable-id="action-3a" data-lfr-editable-type="text">Change</span><span class="govuk-visually-hidden"> contact details</span>
					</a>
				</li>
				<li class="govuk-summary-list__actions-list-item">
					<a class="govuk-link" href="#">
						<span data-lfr-editable-id="action-3b" data-lfr-editable-type="text">Add</span><span class="govuk-visually-hidden"> contact details</span>
					</a>
				</li>
			</ul>
		</dd>
	</div>
</dl>