.govuk-summary-list {
	-webkit-font-smoothing: antialiased;
	border-spacing: 0;
	display: table;
	font-family: var(--govuk-font-family);
	font-size: var(--govuk-font-size-19);
	line-height: 1.31579;
	margin-bottom: 20px;
	width: 100%;
}

.govuk-summary-list__row {
	display: table-row;
}

.govuk-summary-list__key,
.govuk-summary-list__value,
.govuk-summary-list__actions {
	border-bottom: 1px solid var(--govuk-border-colour);
	display: table-cell;
	padding: 10px 20px 10px 0;
	vertical-align: top;
}

.govuk-summary-list__key {
	color: var(--govuk-black);
	font-weight: 700;
	width: 30%;
}

.govuk-summary-list__value {
	color: var(--govuk-black);
	width: 50%;
}

.govuk-summary-list__value p {
	margin: 0 0 5px;
}

.govuk-summary-list__value p:last-child {
	margin-bottom: 0;
}

.govuk-summary-list__actions {
	text-align: right;
	width: 20%;
}

/* Multiple actions list with | separator
   ============================================================================= */

.govuk-summary-list__actions-list {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.govuk-summary-list__actions-list-item {
	display: inline;
}

.govuk-summary-list__actions-list-item + .govuk-summary-list__actions-list-item::before {
	content: "\00a0| ";
}

.govuk-link {
	color: var(--govuk-blue);
	text-decoration: underline;
}

.govuk-link:hover {
	color: var(--govuk-link-hover-colour);
	text-decoration-thickness: 3px;
}

.govuk-link:focus {
	background-color: var(--govuk-yellow);
	color: var(--govuk-black);
	outline: 3px solid var(--govuk-yellow);
	outline-offset: 0;
	text-decoration: none;
}

.govuk-visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@media (max-width: 640px) {
	.govuk-summary-list__row {
		border-bottom: none;
		display: block;
	}

	.govuk-summary-list__key,
	.govuk-summary-list__value,
	.govuk-summary-list__actions {
		display: block;
		padding-right: 0;
		width: 100%;
	}

	.govuk-summary-list__key {
		padding-bottom: 5px;
	}

	.govuk-summary-list__actions {
		border-bottom: 1px solid var(--govuk-border-colour);
		padding-bottom: 15px;
		text-align: left;
	}

	.govuk-summary-list__value {
		padding-bottom: 5px;
	}
}
