.govuk-breadcrumbs {
	-webkit-font-smoothing: antialiased;
	color: var(--govuk-black);
	font-family: var(--govuk-font-family);
	font-size: var(--govuk-font-size-14);
	line-height: 1.14286;
	margin-bottom: 10px;
	margin-top: 15px;
}

.govuk-breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.govuk-breadcrumbs__list-item {
	align-items: center;
	display: flex;
}

.govuk-breadcrumbs__list-item + .govuk-breadcrumbs__list-item::before {
	border-bottom: 1px solid var(--govuk-secondary-text-colour);
	border-right: 1px solid var(--govuk-secondary-text-colour);
	content: "";
	display: inline-block;
	height: 6px;
	margin: 1px 8px 0;
	transform: rotate(-45deg);
	width: 6px;
}

.govuk-breadcrumbs__link {
	color: var(--govuk-black);
	cursor: pointer;
	font-size: var(--govuk-font-size-14);
	text-decoration: underline;
}

.govuk-breadcrumbs__link:hover {
	color: var(--govuk-black);
	text-decoration-thickness: 3px;
}

.govuk-breadcrumbs__link:focus {
	background-color: var(--govuk-yellow);
	color: var(--govuk-black);
	outline: 3px solid var(--govuk-yellow);
	outline-offset: 0;
	text-decoration: none;
}
