<nav class="govuk-service-navigation" aria-label="Menu">
	<div class="govuk-service-navigation__container">
		<span class="govuk-service-navigation__service-name">
			<a class="govuk-service-navigation__service-link" href="home" data-lfr-editable-id="svc-name" data-lfr-editable-type="link">GOV.UK Design System</a>
		</span>

		<ul class="govuk-service-navigation__list">
			<li class="govuk-service-navigation__item">
				<a class="govuk-service-navigation__link" href="home" data-lfr-editable-id="nav-home" data-lfr-editable-type="link">Home</a>
			</li>
			<li class="govuk-service-navigation__item">
				<a class="govuk-service-navigation__link" href="components" data-lfr-editable-id="nav-components" data-lfr-editable-type="link">Components</a>
			</li>
			<li class="govuk-service-navigation__item">
				<a class="govuk-service-navigation__link" href="styles" data-lfr-editable-id="nav-styles" data-lfr-editable-type="link">Styles</a>
			</li>
		</ul>
	</div>
</nav>
