.govuk-card {
	border-top: 2px solid var(--govuk-blue);
	box-sizing: border-box;
	height: 100%;
	padding-top: 15px;
}

.govuk-card__heading {
	font-family: var(--govuk-font-family);
	font-size: var(--govuk-font-size-24);
	font-weight: 700;
	line-height: 1.11;
	margin: 0 0 10px;
}

.govuk-card__link {
	color: var(--govuk-blue);
	text-decoration: underline;
	text-underline-offset: 0.1em;
}

.govuk-card__link:hover {
	color: var(--govuk-link-hover-colour);
	text-decoration-thickness: 3px;
}

.govuk-card__link:visited {
	color: var(--govuk-blue);
}

.govuk-card__description {
	color: var(--govuk-secondary-text-colour);
	font-size: var(--govuk-font-size-19);
	margin: 0;
}
