<table class="govuk-table">
	<caption class="govuk-table__caption govuk-table__caption--${configuration.captionSize}" data-lfr-editable-id="table-caption" data-lfr-editable-type="text">
		Dates and amounts
	</caption>

	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header" data-lfr-editable-id="th-1" data-lfr-editable-type="text">Date</th>
			<th scope="col" class="govuk-table__header govuk-table__header--numeric" data-lfr-editable-id="th-2" data-lfr-editable-type="text">Amount</th>
		</tr>
	</thead>

	<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header" data-lfr-editable-id="td-1-1" data-lfr-editable-type="text">First 6 weeks</th>
			<td class="govuk-table__cell govuk-table__cell--numeric" data-lfr-editable-id="td-1-2" data-lfr-editable-type="text">£109.80 per week</td>
		</tr>
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header" data-lfr-editable-id="td-2-1" data-lfr-editable-type="text">Next 33 weeks</th>
			<td class="govuk-table__cell govuk-table__cell--numeric" data-lfr-editable-id="td-2-2" data-lfr-editable-type="text">£109.80 per week</td>
		</tr>
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header" data-lfr-editable-id="td-3-1" data-lfr-editable-type="text">Total estimated pay</th>
			<td class="govuk-table__cell govuk-table__cell--numeric" data-lfr-editable-id="td-3-2" data-lfr-editable-type="text">£4,282.20</td>
		</tr>
	</tbody>
</table>