.govuk-button {
	-moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	background-color: var(--brand-color-3);
	border: 2px solid transparent;
	border-radius: var(--border-radius);
	box-shadow: 0 2px 0 #002d18;
	color: var(--white);
	cursor: pointer;
	display: inline-block;
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	font-weight: 700;
	line-height: 1;
	padding: 8px 10px 7px;
	position: relative;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
}

.govuk-button:hover {
	background-color: var(--btn-primary-hover-background-color);
	color: var(--white);
	text-decoration: none;
}

.govuk-button:focus {
	border-color: var(--brand-color-4);
	box-shadow: inset 0 0 0 1px var(--brand-color-4);
	outline: 3px solid transparent;
}

.govuk-button:focus:not(:active):not(:hover) {
	background-color: var(--brand-color-4);
	border-color: var(--brand-color-4);
	box-shadow: 0 2px 0 var(--black);
	color: var(--black);
}

.govuk-button:active,
.govuk-button:focus:active {
	box-shadow: none;
	top: 2px;
}

.govuk-button--secondary {
	background-color: var(--gray-100);
	box-shadow: 0 2px 0 #929191;
	color: var(--black);
}

.govuk-button--secondary:hover {
	background-color: #dbdad9;
	color: var(--black);
}

.govuk-button--secondary:focus:not(:active):not(:hover) {
	background-color: var(--brand-color-4);
	color: var(--black);
}

.govuk-button--warning {
	background-color: var(--danger);
	box-shadow: 0 2px 0 #55150b;
}

.govuk-button--warning:hover {
	background-color: #aa2a16;
}

.govuk-button--start {
	font-size: var(--font-size-lg);
	font-weight: 700;
	line-height: 1;
	min-height: auto;
	padding: 10px 16px 9px;
}

.govuk-button__start-icon {
	margin-left: 5px;
	max-width: 45px;
	min-width: 17px;
	vertical-align: middle;
}

@media (max-width: 640px) {
	.govuk-button {
		text-align: center;
		width: 100%;
	}
}
