<div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on this service">
	<div class="govuk-cookie-banner__message govuk-width-container">
		<div class="govuk-cookie-banner__content">
			<h2 class="govuk-cookie-banner__heading" data-lfr-editable-id="cookie-heading" data-lfr-editable-type="text">
				Cookies on this service
			</h2>

			<div class="govuk-cookie-banner__body" data-lfr-editable-id="cookie-body" data-lfr-editable-type="rich-text">
				<p>We use some essential cookies to make this service work.</p>
				<p>We'd also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
			</div>
		</div>

		<div class="govuk-cookie-banner__actions">
			<button type="button" class="govuk-button govuk-cookie-banner__button">Accept analytics cookies</button>
			<button type="button" class="govuk-button govuk-cookie-banner__button">Reject analytics cookies</button>
			<a class="govuk-cookie-banner__link" href="#">View cookies</a>
		</div>
	</div>
</div>
