.govuk-form-group {
	margin-bottom: 20px;
}

.govuk-label {
	color: var(--govuk-black);
	display: block;
	font-family: var(--govuk-font-family);
	font-size: var(--govuk-font-size-19);
	font-weight: 700;
	margin-bottom: 5px;
}

.govuk-hint {
	color: var(--govuk-secondary-text-colour);
	font-family: var(--govuk-font-family);
	font-size: var(--govuk-font-size-19);
	margin-bottom: 10px;
}

.govuk-input {
	-webkit-appearance: none;
	appearance: none;
	border: 2px solid var(--govuk-black);
	border-radius: 0;
	box-sizing: border-box;
	color: var(--govuk-black);
	font-family: var(--govuk-font-family);
	font-size: var(--govuk-font-size-19);
	height: 40px;
	padding: 5px;
	width: 100%;
}

.govuk-input--width-20 { max-width: 20.5em; }
.govuk-input--width-10 { max-width: 11.5em; }
.govuk-input--width-5  { max-width: 5.5em; }
