.govuk-header {
	-webkit-font-smoothing: antialiased;
	background-color: var(--brand-color-1);
	border-bottom: 1px solid transparent;
	font-family: var(--font-family-base);
}

.govuk-header__container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: var(--container-max-xl);
	padding: 0 15px;
	position: relative;
}

.govuk-header__logo {
	box-sizing: border-box;
	max-width: 50%;
	overflow: visible;
	padding-bottom: 12px;
	padding-top: 16px;
}

.govuk-header__homepage-link {
	align-items: flex-end;
	box-sizing: border-box;
	color: var(--white);
	display: inline-flex;
	gap: 8px;
	padding-bottom: 3px;
	text-decoration: none;
}

.govuk-header__homepage-link:hover,
.govuk-header__homepage-link:active {
	border-bottom: 3px solid var(--white);
	color: var(--white);
	margin-bottom: -3px;
	text-decoration: none;
}

.govuk-header__homepage-link:focus {
	background-color: var(--brand-color-4);
	border-bottom: 0;
	box-shadow: 0 -2px var(--brand-color-4), 0 4px var(--black);
	color: var(--black);
	margin-bottom: 0;
	outline: 3px solid transparent;
}

.govuk-header__homepage-link:focus .govuk-header__logotype {
	fill: var(--black);
}

.govuk-header__logotype {
	fill: var(--white);
}

.govuk-logo-dot {
	fill: #00ffe0;
}

.govuk-header__service-name {
	color: var(--white);
	display: inline-block;
	font-size: var(--font-size-lg);
	font-weight: 300;
	line-height: 1;
	transform: translateY(3px);
}

@media (max-width: 640px) {
	.govuk-header__container {
		align-items: flex-start;
		flex-direction: column;
	}

	.govuk-header__logo {
		max-width: 100%;
	}
}
