<details class="govuk-details">
	<summary class="govuk-details__summary">
		<span class="govuk-details__summary-text" data-lfr-editable-id="details-summary" data-lfr-editable-type="text">
			Help with nationality
		</span>
	</summary>

	<div class="govuk-details__text" data-lfr-editable-id="details-content" data-lfr-editable-type="rich-text">
		We need to know your nationality so we can work out which elections you're entitled to vote in. If you cannot provide your nationality, you'll need to send copies of identity documents through the post.
	</div>
</details>