.govuk-inset-text {
	-webkit-font-smoothing: antialiased;
	border-left: 10px solid var(--govuk-border-colour);
	color: var(--govuk-black);
	font-family: var(--govuk-font-family);
	font-size: var(--govuk-font-size-19);
	line-height: 1.31579;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 15px;
}

.govuk-inset-text > :first-child {
	margin-top: 0;
}

.govuk-inset-text > :last-child {
	margin-bottom: 0;
}

.govuk-inset-text p {
	font-size: var(--govuk-font-size-19);
	line-height: 1.31579;
	margin: 0 0 15px;
}

.govuk-inset-text a {
	color: var(--govuk-blue);
}

.govuk-inset-text a:hover {
	color: var(--govuk-link-hover-colour);
}

.govuk-inset-text a:focus {
	background-color: var(--govuk-yellow);
	color: var(--govuk-black);
	outline: 3px solid var(--govuk-yellow);
	outline-offset: 0;
}
