<div class="govuk-components-intro">
	<span class="govuk-components-intro__caption" data-lfr-editable-id="components-caption" data-lfr-editable-type="text">GOV.UK Design System</span>
	<h1 class="govuk-components-intro__title" data-lfr-editable-id="components-title" data-lfr-editable-type="text">Components</h1>
	<p class="govuk-components-intro__lead" data-lfr-editable-id="components-lead" data-lfr-editable-type="rich-text">
		Reusable parts of the user interface that have been made to support a variety of applications.
		Each component below is a Liferay fragment you can drag onto any page.
	</p>
</div>
