<div class="govuk-tabs" data-module="govuk-tabs" id="${fragmentEntryLinkNamespace}-tabs">
	<h2 class="govuk-tabs__title">Contents</h2>

	<ul class="govuk-tabs__list">
		<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
			<a class="govuk-tabs__tab" href="#${fragmentEntryLinkNamespace}-tab-1">
				<span data-lfr-editable-id="tab-1-label" data-lfr-editable-type="text">Past day</span>
			</a>
		</li>
		<li class="govuk-tabs__list-item">
			<a class="govuk-tabs__tab" href="#${fragmentEntryLinkNamespace}-tab-2">
				<span data-lfr-editable-id="tab-2-label" data-lfr-editable-type="text">Past week</span>
			</a>
		</li>
		<li class="govuk-tabs__list-item">
			<a class="govuk-tabs__tab" href="#${fragmentEntryLinkNamespace}-tab-3">
				<span data-lfr-editable-id="tab-3-label" data-lfr-editable-type="text">Past month</span>
			</a>
		</li>
	</ul>

	<div class="govuk-tabs__panel" id="${fragmentEntryLinkNamespace}-tab-1">
		<div data-lfr-editable-id="tab-1-content" data-lfr-editable-type="rich-text">
			<h2 class="govuk-heading-l">Past day</h2>

			<p class="govuk-body">Tab 1 content goes here.</p>
		</div>
	</div>

	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="${fragmentEntryLinkNamespace}-tab-2">
		<div data-lfr-editable-id="tab-2-content" data-lfr-editable-type="rich-text">
			<h2 class="govuk-heading-l">Past week</h2>

			<p class="govuk-body">Tab 2 content goes here.</p>
		</div>
	</div>

	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="${fragmentEntryLinkNamespace}-tab-3">
		<div data-lfr-editable-id="tab-3-content" data-lfr-editable-type="rich-text">
			<h2 class="govuk-heading-l">Past month</h2>

			<p class="govuk-body">Tab 3 content goes here.</p>
		</div>
	</div>
</div>

<script>
	(function () {
		var tabs = document.getElementById('${fragmentEntryLinkNamespace}-tabs');

		if (!tabs) {
			return;
		}

		var tabLinks = tabs.querySelectorAll('.govuk-tabs__tab');
		var listItems = tabs.querySelectorAll('.govuk-tabs__list-item');
		var panels = tabs.querySelectorAll('.govuk-tabs__panel');

		tabLinks.forEach(function (link) {
			link.addEventListener('click', function (e) {
				e.preventDefault();

				var targetId = link.getAttribute('href').replace('#', '');

				listItems.forEach(function (li) {
					li.classList.remove('govuk-tabs__list-item--selected');
				});

				panels.forEach(function (panel) {
					panel.classList.add('govuk-tabs__panel--hidden');
				});

				link.closest('.govuk-tabs__list-item').classList.add('govuk-tabs__list-item--selected');

				var target = document.getElementById(targetId);

				if (target) {
					target.classList.remove('govuk-tabs__panel--hidden');
				}
			});
		});
	})();
</script>